In [3]:
import numpy as np
import flopy as fp
import matplotlib.pyplot as plt
import pandas as pd
import sys

sys.path.insert(1,"../../Model_val/upscalling/")
from upscalling_functions import*

In [11]:
rech = "../../data/recharge/rech_zones"
rech = read_pickle(rech)
rech

            Recharge (mm)  zone
Date
1960-01-01       0.000000     1
1960-01-02       0.000000     1
1960-01-03       0.000000     1
1960-01-04       0.000000     1
1960-01-05       0.000000     1
...                   ...   ...
2017-12-27       0.280608     3
2017-12-28       0.000000     3
2017-12-29       0.937182     3
2017-12-30       0.000000     3
2017-12-31       0.000000     3

[63555 rows x 2 columns]

In [23]:
#transform Date index into an array of seconds (for timeseries)
t = 86400*((rech.reset_index().Date-rech.reset_index().Date.min())/np.timedelta64(1, 'D')).values
t = t[0:21185]